@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Banca Básica</h1>
    <p><a asp-area="" asp-controller="Login" asp-action="Index"><img src="~/img/Banco.png" alt="Imagen Banco" /></a></p>
</div>
